body {
    font-family: Arial, sans-serif;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
  }

  .holder {
    width: 300px;
    background-color: #333;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .login-register {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .login-register a {
    color: #007bff;
    text-decoration: none;
  }

  #username,
  #password {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  #username:focus,
  #password:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 120, 212, 0.1);
    border-color: #007bff;
  }

  #submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #submit :hover {
    background-color: #0069d9;
  }