<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/index.css">


</head>
<script src="/static/js/index.js"></script>
<div class="top-bar">
  <div class="logo" id="username">Your Logo</div>
  <ul class="nav-links">
    <li><a class="button" href="">Console</a></li>
    <li><a class="button" href="properties">Server properties</a></li>
    <li><a class="button" href="register">Register/Login</a></li>

  </ul>
</div>

<body>
  
  <div class="main">
    <div id="output"></div>
    <div id="buttons-container">
      <button class="button" id="init">Init</button>
      <button class="button" id="start">Start</button>
      <button class="button" id="read">Read</button>
      <button class="button" id="exit">Exit</button>
      <input id="command" type="text" />
      <button id="sendc">Send</button>
    </div>

  </div>

  
</body>


</html>