<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <link rel="stylesheet" href="/static/css/register.css">
</head>

<body>

  <div class="holder">
    <script src="/static/js/register.js"></script>
    <p>LOGIN</p>
    <input id="username" type="text" placeholder="Username" />
    <input id="password" type="text" placeholder="Password" />
    <button id="submit">submit</button>
  </div>
</body>


</html>